<style>
   input {
  background-color:#ff6a00;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
}
     </style>
{% extends "app/layout.html" %}

{% block content %}
<div class="purcahseorderhistory margintop" action="menu" >
    
    <form action="deliveryorderhistorydetails" method="GET">
        <table class="table table-striped margintop">
          <thead>
            <tr>
              <th scope="col">Delivery Order ID</th>
              <th scope="col">Staff ID</th>
              <th scope="col">Vendor ID</th>
              <th scope="col">Time</th>
            </tr>
          </thead>
          <tbody>
              {% for r in rows %}
            <tr>
                 <td><button type="submit" name="do_id" value="{{r.delivery_order_id}}" class="btn btn-info" >{{r.delivery_order_id}}</button></td>
                 <td>{{r.person_id.person_id}}</td>
                 <td>{{r.vendor_id}}</td>
                 <td>{{r.time_created}}</td>

            </tr>
              {% endfor %}
          </tbody>
        </table>
        <div class="margintop">
            <a type="submit" class="btn btn-info" href="/menu">Back</a>
        </div>
           <br /><br />
        <input type="button" id="btnGetCount" value="COUNT" color="blue" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
   $(function () {
        $("#btnGetCount").click(function () {
            var totalRowCount = $("#tblCustomers tr").length;
            var rowCount = $("#tblCustomers td").closest("tr").length;

            var message = "Total Row Count: " + totalRowCount;
          
            alert(message);
        });
    });
</script>
        <br /><br />
    </form>
       
</div>


{% endblock %}
